<h1> <%= user.firstname%>'s Dashboard </h1>


<img src="<%= user.image%>">
<h2> Name : <%= user.firstname%>  <%= user.lastname%> </h2>
<h3> Admin Status :  <%= user.admin ? 'Yes' : 'Not Admin'%> </h3>
<h3> Birthday :  <%= user.birthday%> </h3>
