<div class="container content profile">
			<div class="row">
				<!--Left Sidebar-->

				<!--End Left Sidebar-->

				<!-- Profile Content -->
				<div class="col-md-12">
					<div class="profile-body">
						<div class="profile-bio">
							<div class="row">
								<div class="col-md-5">
									<img class="img-responsive md-margin-bottom-10" src="<%= user.image%>" alt="">
									<a class="btn-u btn-u-sm" href="#">Change Picture</a>
								</div>
								<div class="col-md-7">
									<h2><%= user.firstname%>  <%= user.lastname%></h2>
									<span><strong>Job:</strong> Web Developer</span>
									<span><strong>Birthday:</strong> <%= user.birthday%></span>
									<hr>
									<%= user.bio%>
								</div>
							</div>
						</div><!--/end row-->

						<hr>

						<div class="row">


							<!--Skills-->
							<div class="col-sm-12 sm-margin-bottom-30">
								<div class="panel panel-profile">
									<div class="panel-heading overflow-h">
										<h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Skills</h2>
										 <input  id="addSkill" type="submit" class="btn btn-primary pull-right" name="moreSkills" value="Add More skills">
									</div>
									<div class="panel-body">


                    <% if(skill && skill.length ){ %>

                     <% skill.forEach( sk=>{  %>
                      <form method="post" action="/profile/skill?_method=DELETE" >
                         <input type="hidden" name="skillId" value="<%= sk.id %>">
                          <input type="submit" value="Delete">
                       </form>
                        <%= sk.name%>

                     <% }) %>

                        <% }else{ %>
                           <h4>No skills added </h4>
                          <% } %>



									</div>
								</div>
							</div>
							<!--End Skills-->
						</div><!--/end row-->

						<hr>

						<!--Timeline-->
						<div class="panel panel-profile">
							<div class="panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Added Jobs</h2>
								<a href="#"><i class="fa fa-cog pull-right"></i></a>
							</div>
							<div class="panel-body margin-bottom-40">
                    <% if(job && job.length ){ %>
                     <% job.forEach( res=>{  %>

                  <div class="panel panel-dark-blue">

                   <div class="accordion" id="accordionExample<%= res.id %>">
                   <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
                     <div class="panel-heading" id="headingOne<%= res.id %>">

                        <a  href="/jobs/<%= res.id %>">  <p><%= res.title %></p> </a>

                         <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne<%= res.id %>" aria-expanded="true" aria-controls="collapseOne<%= res.id %>">
                          Read Description
                         </button>
                         <form method="post" action="/profile/jobs?_method=DELETE" >
                           <input type="hidden" name="jobId" value="<%= res.id %>">
                           <input type="submit" value="Delete">
                         </form>
                     </div>
                      <div id="collapseOne<%= res.id %>" class="collapse" aria-labelledby="headingOne<%= res.id %>" data-parent="#accordionExample<%= res.id %>">
                        <div class="panel-body ">
                         <h5 class="card-title"><%= res.company %></h5>
                         <p class="card-text"><%= res.description %></p>
                        </div>
                      </div>
                   </div>
                    </div>
 						    	</div>

                     <% }) %>
                        <% }else{ %>
                           <h4>No Jobs added </h4>
                          <% } %>
							</div>
						</div>
						<!--End Timeline-->

						<!--Timeline-->

						<!--End Timeline-->

						<hr>

						<!--/end row-->
					</div>
				</div>
				<!-- End Profile Content -->
			</div>
		</div>
