<div class="container">

<h1> <%= user.firstname%>'s Dashboard </h1>


<img src="<%= user.image%>">
<h2> Name : <%= user.firstname%>  <%= user.lastname%> </h2>
<h3> Admin Status :  <%= user.admin ? 'Yes' : 'Not Admin'%> </h3>
<h3> Birthday :  <%= user.birthday%> </h3>

</div>

<div class="container">
  <% if(job && job.length ){ %>
   <% job.forEach( res=>{  %>
     <a  href="/jobs/<%= res.id %>">
       <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
         <div class="card-header form-inline">
            <div class="form-group mb-2">
              <p><%= res.title %></p>
            </div>
         </div>
          <div class="card-body">
           <h5 class="card-title"><%= res.company %></h5>
           <p class="card-text"><%= res.description %></p>
          </div>
       </div>
     </a>

   <% }) %>
      <% }else{ %>
         <h4>No Jobs added </h4>
        <% } %>
</div>
