<div class="container content profile">
			<div class="row">
				<!--Left Sidebar-->

				<!--End Left Sidebar-->

				<!-- Profile Content -->
				<div class="col-md-12">
					<div class="profile-body">
						<div class="profile-bio">
							<div class="row">
								<div class="col-md-5">
									<img class="img-responsive md-margin-bottom-10" src="<%= user.image%>" id="userphotos" alt="">
									<a class="btn-u btn-u-sm" href="#">Change Picture</a>
								</div>
								<div class="col-md-7">
									<h1><%= user.firstname%>  <%= user.lastname%> </h1>
									<span><strong>Job:</strong> Web Developer</span>
									<span><strong>Birthday:</strong> <%= user.birthday%></span>
									<hr>
                <%   if(user.bio){ %>
                    <%= user.bio%>
                  <hr>
                <%  } else{ %>
                    <h3>Tell us something about you !!!</h3>
                  <hr>
                <%  } %>
                 <a class="btn btn-primary" href="#">Update Information</a>
								</div>
							</div>

						</div><!--/end row-->

						<hr>

						<div class="row">


							<!--Skills-->
							<div class="col-sm-12 sm-margin-bottom-30">
								<div class="panel panel-profile">
									<div class="panel-heading overflow-h">
										<h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Skills</h2>
										 <input  id="addSkill" type="submit" class="btn btn-primary pull-right" name="moreSkills" value="Add More skills">
									</div>
									<div class="panel-body">


                    <% if(skill && skill.length ){ %>

                     <% skill.forEach( sk=>{  %>
                       <span>
                        <form  id="killeses" method="post" action="/profile/skill?_method=DELETE" >
                           <input type="hidden" name="skillId" value="<%= sk.id %>">
                           <div class="btn-group">
                            <span  class="btn btn-primary" ><%= sk.name%></span>
                            <button type="submit" class="btn btn-primary">  <span aria-hidden="true">&times;</span></button>
                           </div>
                         </form>
                       </span>


                     <% }) %>

                        <% }else{ %>
                           <h4>No skills added </h4>
                          <% } %>



									</div>
								</div>
							</div>
							<!--End Skills-->
						</div><!--/end row-->

						<hr>

						<!--Timeline-->
						<div class="panel panel-profile">
							<div class="panel-heading overflow-h">
								<h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Added Jobs</h2>
							</div>
							<div class="panel-body margin-bottom-40">
                    <% if(job && job.length ){ %>
                     <% job.forEach( res=>{  %>
               <div class="col-md-12">
							<!-- Aqua Panel -->
							<div class="panel panel-aqua">
								<div class="panel-heading">

                  <form method="post" action="/profile/jobs?_method=DELETE" >
                    <h3 class="panel-title"><a  href="/jobs/<%= res.id %>">  <%= res.title %> </a>
                    <input type="hidden" name="jobId" value="<%= res.id %>">
                    <input class="pull-right" type="submit" value="Delete">
                      </h3>
                  </form>

								</div>
							</div>
							<!-- End Aqua Panel -->
						</div>

                     <% }) %>
                        <% }else{ %>
                           <h4>No Jobs added </h4>
                          <% } %>
							</div>
						</div>

						<hr>

					</div>
				</div>
			</div>
		</div>
