<div class="container">

<h1> <%= user.firstname%>'s Dashboard </h1>


<img src="<%= user.image%>">
<h2> Name : <%= user.firstname%>  <%= user.lastname%> </h2>
<h3> Admin Status :  <%= user.admin ? 'Yes' : 'Not Admin'%> </h3>
<h3> Birthday :  <%= user.birthday%> </h3>

</div>

<div class="container">
  <% if(job && job.length ){ %>
   <% job.forEach( res=>{  %>

       <div class="accordion" id="accordionExample<%= res.id %>">
       <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
         <div class="card-header form-inline" id="headingOne<%= res.id %>">
            <div class="form-group mb-2">
            <a  href="/jobs/<%= res.id %>">  <p><%= res.title %></p> </a>
            </div>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne<%= res.id %>" aria-expanded="true" aria-controls="collapseOne<%= res.id %>">
              Collapsible Group
             </button>
             <form method="post" action="/profile/?_method=DELETE" >
              <input type="hidden" name="jobId" value="<%= res.id %>">
              <input type="submit" value="Delete">
             </form>
         </div>
          <div id="collapseOne<%= res.id %>" class="collapse" aria-labelledby="headingOne<%= res.id %>" data-parent="#accordionExample<%= res.id %>">
            <div class="card-body ">
             <h5 class="card-title"><%= res.company %></h5>
             <p class="card-text"><%= res.description %></p>
            </div>
          </div>

       </div>
        </div>


   <% }) %>
      <% }else{ %>
         <h4>No Jobs added </h4>
        <% } %>
</div>
