<div class="sercher">
  <div class="job-img-inputs">
				<div class="container">
          <form action="/search" method="post">
            <div class="row">
  						<div class="col-sm-4 md-margin-bottom-10">
  							<div class="input-group">
  								<span class="input-group-addon"><i class="fa fa-tag"></i></span>
  							  <input type="text" class="form-control" name="jobDescription" placeholder="e.g. Phyton">
  							</div>
  						</div>
  						<div class="col-sm-4 md-margin-bottom-10">
  							<div class="input-group">
  								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
  								<input type="text" class="form-control" name="jobLocation" placeholder="e.g. Seattle">
  							</div>
  						</div>
  						<div class="col-sm-4">
  							<button type="submit" class="btn-u btn-block btn-u-dark"> Search Job</button>
  						</div>
  					</div>
          </form>
				</div>
			</div>
</div>
<div class="wrapper">
  <% if(result && result.length ){ %>
   <% result.forEach( res=>{  %>
     <div class="accordion" id="accordionExample<%= res.id %>">
     <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
       <div class="card-header form-inline" id="headingOne<%= res.id %>">
          <div class="form-group mb-2">
            <p><%= res.title %></p>
          </div>
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne<%= res.id %>" aria-expanded="true" aria-controls="collapseOne<%= res.id %>">
            Collapsible Group
           </button>
          <% if(user){ %>
            <div class="form-group mx-sm-3 mb-2">
              <form action="/profile" method="post">
                <input type="hidden" name="title" value="<%= res.title %>">
                <input type="hidden" name="company" value="<%= res.company %>">
                <input type="hidden" name="description" value="<%= res.description %>">
                <input type="hidden" name="url" value="<%= res.company_url %>">
                <input type="hidden" name="location" value="<%= res.location %>">
                <input type="hidden" name="logo" value="<%= res.company_logo %>">
                <input type="hidden" name="userId" value="<%= user.id %>">
                <button type="submit" id="addJob">Add Job</button>
               </form>
            </div>
           <% }else{ %>
             <div class="form-group mx-sm-3 mb-2">
             <button type="button" id="jobButton">Add Job</button>
             </div>
        <%  } %>

       </div>
        <div id="collapseOne<%= res.id %>" class="collapse" aria-labelledby="headingOne<%= res.id %>" data-parent="#accordionExample<%= res.id %>">
          <div class="card-body ">
           <h5 class="card-title"><%= res.company %></h5>
           <p class="card-text"><%= res.description %></p>
          </div>
        </div>

     </div>
      </div>
   <% }) %>
      <% }else{ %>
         <h4>No Jobs with that description</h4>
        <% } %>
</div>
