<div class="sercher">
  <div class="job-img-inputs">
				<div class="container">
          <form action="/search" method="post">
            <div class="row">
  						<div class="col-sm-4 md-margin-bottom-10">
  							<div class="input-group">
  								<span class="input-group-addon"><i class="fa fa-tag"></i></span>
  							  <input type="text" class="form-control" name="jobDescription" placeholder="e.g. Phyton">
  							</div>
  						</div>
  						<div class="col-sm-4 md-margin-bottom-10">
  							<div class="input-group">
  								<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
  								<input type="text" class="form-control" name="jobLocation" placeholder="e.g. Seattle">
  							</div>
  						</div>
  						<div class="col-sm-4">
  							<button type="submit" class="btn-u btn-block btn-u-dark"> Search Job</button>
  						</div>
  					</div>
          </form>
				</div>
			</div>
</div>
<div class="wrapper">
  <% if(result && result.length ){ %>
   <% result.forEach( res=>{  %>
     <div class="panel-group acc-v1" id="accordion-<%= res.id %>">
   						<div class="panel panel-default">
   							<div class="panel-heading">
   								<h4 class="panel-title">
   									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-<%= res.id %>" href="#collapse-<%= res.id %>" aria-expanded="false">
   										<p><%= res.title %></p>
   									</a>
   								</h4>
   							</div>
   							<div id="collapse-<%= res.id %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
   								<div class="panel-body">
   									<div class="row">
   										<div class="col-md-4">
   											<img class="img-responsive" src="<%= res.company_logo%>" id="logoinresults" alt="">
                        <% if(user){ %>
                          <div class="form-group mx-sm-3 mb-2">
                            <form action="/profile" method="post">
                              <input type="hidden" name="title" value="<%= res.title %>">
                              <input type="hidden" name="company" value="<%= res.company %>">
                              <input type="hidden" name="description" value="<%= res.description %>">
                              <input type="hidden" name="url" value="<%= res.company_url %>">
                              <input type="hidden" name="location" value="<%= res.location %>">
                              <input type="hidden" name="logo" value="<%= res.company_logo %>">
                              <input type="hidden" name="userId" value="<%= user.id %>">
                              <button class="btn-u btn-u-aqua" id="addJob type="submit"><i class="fa fa-plus"></i>Add</button>
                             </form>
                          </div>
                         <% }else{ %>
                           <div class="form-group mx-sm-3 mb-2">
                           <button class="btn-u btn-u-aqua" id="jobButton" type="button"><i class="fa fa-plus"></i> Add </button>
                           </div>
                      <%  } %>
   										</div>
   										<div class="col-md-8">
   											<%- res.description %>
   										</div>
   									</div>
   								</div>
   							</div>
   						</div>
   	</div>
   <% }) %>
      <% }else{ %>
         <h4>No Jobs with that description</h4>
        <% } %>
</div>
