<div class="container">
  <form  action="/search" method="post">
      <div class="row form-group">
         <div class="col">
           <input type="text" class="form-control" name="jobDescription" placeholder="e.g. Phyton">
         </div>
         <div class="col">
           <input type="text" class="form-control" name="jobLocation" placeholder="e.g. Seattle">
         </div>
         <div class="col">
           <div class="col align-bottom">
             <button type="submit" class="btn btn-outline-success">Search</button>
           </div>
         </div>
      </div>
  </form>
</div>
<div class="container">
  <% if(result && result.length ){ %>
   <% result.forEach( res=>{  %>
     <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
       <div class="card-header form-inline">
          <div class="form-group mb-2">
            <p><%= res.title %></p>
          </div>
          <% if(user){ %>
            <div class="form-group mx-sm-3 mb-2">
              <form action="/profile" method="post">
                <input type="hidden" name="title" value="<%= res.title %>">
                <input type="hidden" name="company" value="<%= res.company %>">
                <input type="hidden" name="description" value="<%= res.description %>">
                <input type="hidden" name="url" value="<%= res.company_url %>">
                <input type="hidden" name="location" value="<%= res.location %>">
                <input type="hidden" name="logo" value="<%= res.company_logo %>">
                <input type="hidden" name="userId" value="<%= user.id %>">                
                <button type="submit" id="addJob">Add Job</button>
               </form>
            </div>
           <% }else{ %>
             <div class="form-group mx-sm-3 mb-2">
             <button type="button" id="success">Add Job</button>
             </div>
        <%  } %>

       </div>
        <div class="card-body">
         <h5 class="card-title"><%= res.company %></h5>
         <p class="card-text"><%= res.description %></p>
        </div>
     </div>
   <% }) %>
      <% }else{ %>
         <h4>No Jobs with that description</h4>
        <% } %>
</div>
